@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont/Mont-Bold.eot');
    src: local('Mont Bold'), local('Mont-Bold'),
    url('../assets/fonts/Mont/Mont-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Mont/Mont-Bold.woff2') format('woff2'),
    url('../assets/fonts/Mont/Mont-Bold.woff') format('woff'),
    url('../assets/fonts/Mont/Mont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont/Mont-SemiBold.eot');
    src: local('Mont SemiBold'), local('Mont-SemiBold'),
    url('../assets/fonts/Mont/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Mont/Mont-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Mont/Mont-SemiBold.woff') format('woff'),
    url('../assets/fonts/Mont/Mont-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont/Mont-Regular.eot');
    src: local('Mont Regular'), local('Mont-Regular'),
    url('../assets/fonts/Mont/Mont-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Mont/Mont-Regular.woff2') format('woff2'),
    url('../assets/fonts/Mont/Mont-Regular.woff') format('woff'),
    url('../assets/fonts/Mont/Mont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
